<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TracerV1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TracerV1.Properties.Settings.CellLatLongsConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CellLatLongs.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="CellLatLongsEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\CellLatLongs.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TracerV1.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=|DataDirectory|\bin\Debug\Database1.sdf"
      providerName="Microsoft.SqlServerCe.Client.4.0" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <userSettings>
    <TracerV1.Properties.Settings>
      <setting name="mocStringOfficial" serializeAs="String">
        <value />
      </setting>
      <setting name="mtcStringOfficial" serializeAs="String">
        <value />
      </setting>
      <setting name="drcStringOfficial" serializeAs="String">
        <value />
      </setting>
      <setting name="graphLabel1" serializeAs="String">
        <value />
      </setting>
      <setting name="graphLabel2" serializeAs="String">
        <value />
      </setting>
      <setting name="graphLabel3" serializeAs="String">
        <value />
      </setting>
      <setting name="licenseLastDate" serializeAs="String">
        <value />
      </setting>
      <setting name="expired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="loadStatus" serializeAs="String">
        <value>False</value>
      </setting>
    </TracerV1.Properties.Settings>
  </userSettings>
</configuration>